body {
  margin: 20px;
}

h1,
h3,
h4,
form {
  text-align: center;
  margin: 15px;
}

#convertedCurrencyOutput {
  background-color: black;
  border: solid black 1px;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 1080px;
}

#errorMessage {
  text-align: center;
  font-size: 1.5em;
}
