body {
  margin: 20px;
}

h1,
h3,
form {
  text-align: center;
}

#convertedCurrencyOutput {
  background-color: black;
  border: solid black 1px;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 500px;
}

#targetCurrency {
  background-color: #161616;
  border: solid 1px;
  border-radius: 5px;
  color: white;
  height: 32px;
}

#errorMessage {
  text-align: center;
  font-size: 1.5em;
}
